@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  
  #box2 {
      background-color: yellowgreen;
      height: 1000px;
  }
  
  #box3 {
      background-color: brown;
      height: 100px;
      
  }
  
  ul {
      list-style: none;
      
  }
  
  li {
    margin: 25px;
  }
  
  a {
      text-decoration: none;
      font-size: 20px;
  }
  
   .nav {
     display: flex;
     justify-content: flex-end;
     background-color: gray;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 78px;
     
     
  
  }
  
  .navlist{
    display: flex;
    margin-right: 1rem;
  }
  
  
  
  #welcome-section {
  background-color: cadetblue;
  height: 98vh;
  border: solid;
  margin-top: 78px;
  line-height: 100px;
  }
  
  
  
  #projects {
      background-color: rgb(116, 237, 100);
      height: 1150px;
      
      
  }
  
  #footer {
      background-color: rgb(235, 92, 10);
      height: 500px;
  }
  
  #sec {
      
  }
  
  body {
      text-align: center;
  }
  
  h1 {
      font-size: 50px;
      display: inline;
  }
  
  .d1 {
      background: orange;
      
  }
  
  .d2 {
      background: orange;
      
  }
  
  .d3 {
      background: orange;
      
  }
  
  .d4 {
      background: orange;
      
  }
  
  #ache {
      display: block;
  }
  
  #text {
      color: white;
      width: 1000px
  }
  
  #boxes {
      display: grid;
      grid-template-rows: 400px 400px;
      grid-template-columns: 400px 400px;
      justify-content: center;
      margin-top: 150px;
      grid-gap: 4rem;
  }
  
  
  
  * {
      margin: 0;
      padding: 0;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  .insidebox {
    background: lightgray;
    height: 50px;
    line-height: 50px;
  }
  
  .larger-image {
    width: 400px;
    height: 351px;
  }
  
  #footer {
    height: 100px;
    line-height: 90px;
    
  }
   
  .color-footer {
     color: white;
  }